body{
  font:12px "simhei",Arial;
  color:#666;
  margin:0;
  padding:0;
  background-color: #f5f5f5;
}

p,h1,h2,h3,h4,h5,h6,ul,ol,dd,dl{
  margin:0;
  padding:0;
  list-style:none;
}

a{
  text-decoration:none;
  color:#666;
}

 
ul{
  margin:0;
  padding:0;
  list-style:none;
}