/*固定页样式 做为整体背景*/
.c_stop{
    width:100%;
    height:100%;
    position: fixed;
    top:0;left:0;
    z-index: 0;
}
.main{
    padding:0;
    margin: 0 auto;

     position: relative;


}


    .one {
        width: 90%;
        height: 500px;
         margin:0 auto;
        margin-top: 100px;
        margin-bottom: 350px;
        position: relative;
    }

     .one .left {
        width: 45%;
        height: 630px;
        background-color:rgba(0,0,0,.6);
        color: #fff;
        float: left;
        position: absolute;
         top:0;left:-700px;
       transition: all .6s ease-out;

    }

      .one .left h1 {
        margin-top: 80px;
        font-size: 35px;
        margin-left: 50px;

    }

     .one .left p {
        font-size: 20px;
        margin-top: 20px;
        line-height: 30px;
        margin-left: 50px;
    }

     .one .right {
        float: left;
        width: 55%;
        height: 401px;
        margin-top: 229px;
        position: absolute;
         top:0;
       /*left:875px;*/
         left:1375px;
  transition: all .5s ease-out;
    }

      .right img {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1.5s linear;
        opacity: 0;
          width: 100%;
          height: 100%;

    }

    .right img.show {
        opacity: 1;
        z-index: 10;
        transition: all 1.5s linear;
    }

    /*第二层样式*/

      .two{
        margin:0 auto;
        width:90%;

        clear: left;
        display: flex;
      margin-top: -380px;
    }
       

     
      .two .vr{
          width:100%;
         /* height: 401px;*/
          margin-top: 229px;

          position: relative;
      }
    .two .vr img{
        width:100%;
        height:100%;
    }
    .two .vr span{
        width: 120px;
        height: 50px;
        position: absolute;
        top:40%;left:44%;
        border:1px solid  #A08166;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        background-color: #4C96C9;
        color: #fff;
        border-radius: 4px;
         cursor:pointer;
        opacity: .3;
      transition: all 0.5s ;
                    

    }
    .two .vr img:nth-child(2):hover{
         transform: scale(1.05)
    }
      .vv{
        margin: 0 auto;
        position:fixed;
        top:0;left: 0;
        width:100%;
        height:100%;
        background: #000A14;
        display: none; 
        transition: all .9s linear;
    }
     .vv video{
        position: absolute;
        top:0;left:0;
        width:100%;
        
     }
    /*右上角关闭*/
   .vv span{
        position: absolute;
        top:15px;
        right: 20px;
        font-size:40px;
        line-height: 25px;
        color: #fff;
        z-index: 666;
        cursor: pointer  
                 
    }
    .play{
        position: absolute;
        top:50%;
        left:46%;
        opacity: 0;

    }

 /*第三层企业文化*/

.clearfix:after {clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden; }
.clearfix { zoom:1; }
 html{overflow:-Scroll;overflow-x:hidden;zoom:1;overflow-y:scroll;overflow:-moz-scrollbars-vertical;}
 a{color:#1b1f2b;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#e5000c;text-decoration:none;}:focus{outline:none;}

/* CSS活动的公共样式 */
.fl{float:left;}
.fr{float:right;}
.gr_center{text-align:center;}
.grWidth{width:100%; margin:0 auto;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.center{text-align:center;}
.hiddens{overflow:hidden;}
.nor{font-weight:normal;}


.homeTitle {
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
    line-height: 40px;
}
.homeTitle h2 {
    font-size: 36px;
    color: #FF0000;
    font-weight: normal;
}
.strength{padding-top:0px;}
.strengthMain{
    margin: 0 auto;
    margin-top:  100px;
    overflow:hidden;
    width: 90%;}
.strengthMain li{
    float:left;width:50%;height:330px;
    overflow:hidden;background:#000;
    position:relative;
}
.strengthMain li img{
    width:100%;height:330px;transition:all .5s;
    opacity:0.4;filter:alpha(opacity=40);
}
.strengthMain li .font{
    width:100%;height:205px;top:0;left:0;
    position:absolute;
    color:#fff;text-align:center;font-size:16px;
    padding-top:125px;
}
.strengthMain li .font h3{
    font-size:36px;color:#fff;font-weight:normal;
    margin-bottom:20px;line-height:36px;
}
.strengthMain li:hover img{transform: scale(1.05, 1.05);}
.strengthMain li .font::before,.strengthMain li .font::after{position:absolute;content:'';opacity:0;transition:all 0.5s;}
.strengthMain li .font::before{
top:85px;right:17px;bottom:-63px;left:17px;border-top:1px solid #fff;border-bottom:1px solid #fff;transform:scale(0,1);-webkit-transform-origin:0 0;transform-origin:0 0}

.strengthMain li .font::after{
top:70px;right:35px;bottom:-78px;left:35px;
border-right:1px solid #fff;
border-left:1px solid #fff;
transform:scale(1,0);
transform-origin:100% 0;
}

.strengthMain li:hover .font::before,.strengthMain li:hover .font::after{
opacity:1;transform:scale(1);transition: all 0.5s;
}








/*第四层 规模*/
.four{
    margin-top: 180px;
    width:100%;
    height: 600px;
    
}


.four .cont{
    display:flex;
    width:100%;
    height: 600px;
    justify-content: space-between;
}
.four .cont div{
    width:24.5%;
    height: 300px;
    
    margin:0 auto;
   margin-top: 80px;
/*background-color:#4C96C9;*/
    background-color: #082940;
transition:all .32s ease-out;
overflow: hidden;
}
 .four .cont div img{
    margin-left: 40px;
    width: 60%

}
.four .cont div p{
    color:#fff;
    font-size: 30px;
    text-align: center;
}
.four .cont div span{
    display:block;
    width: 170px;
     color:#fff;
    font-size: 15px;
    margin-left: 80px;
    margin-top: 15px;
    opacity: 0;
    transition:all .6s ease-out;
}













/*联系我们*/
.contact{
    width:100%;
    height:700px;

   display: flex;
    overflow: hidden;
    margin-top: -130px;
}
.contact .con_left{
    width: 35%;
    height:100%;
    background-color: #F5B750;
}
.contact .con_left img{
    width:50%;
    margin-left: 100px;
    margin-top: 50px;
}
.contact .con_left h4{
 font-size: 30px;
    color: #fff;
    margin-top: 60px;
    margin-left: 100px;
}
.contact .con_left p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    margin-left: 100px;
}

.contact .con_right {
    width:65%;
    height:100%;

}
.contact .con_right #l-map{height:100%;width:100%;}
.contact .con_right #r-result{width:100%;}