/*楼层六：上层*/
div.top{
    width: 1100px;
    height: 800px;
    margin:0 auto;
    border:1px solid gray;
}


/*楼层六：中间*/
div.h_floor6{
    width: 100%;
    height: 100%;
    margin:0 auto;
    background:#fff url(../img/index/bg5.jpg) repeat center center;
    background-size:100% 700px;
}



div.h_floor6>.content{
    width: 1100px;
    height: 500px;
    margin:0 auto;
    position:relative;
    margin-right:240px;
}


div.h_floor6>.content div{
    float:left;
    margin-left:60px;
    padding-top:20px;
}

/*左侧文字图片*/
div.h_floor6>.content>.pic_lef{
    width: 410px;
    height: 410px;
    position:relative;
    margin-top:100px;
    border-top: #000000 solid 3px;
    opacity:0.6;
    transition:all 0.4s linear 0.1s;
}



div.h_floor6>.content>.pic_lef div:nth-child(1){
    width: 300px;
    height: 262px;
    position:absolute;
    top:30px;
    right:20px;

}

div.h_floor6>.content>.pic_lef div:nth-child(1)>img{
    width: 300px;
    height: 262px;
    transform:scale(1);
}

div.h_floor6>.content>.pic_lef div:nth-child(2){
    width: 89px;
    height: 25px;
    position:absolute;
    top:30px;
    left:-70px;
    transition:all 0.4s linear 0.1s;
}

div.h_floor6>.content>.pic_lef div:nth-child(3){
    width: 80px;
    height: 80px;
    position:absolute;
    top:75px;
    left:-100px;
    transition:all 0.4s linear 0.1s;
}

div.h_floor6>.content>.pic_lef div:nth-child(4){
    width: 295px;
    height: 50px;
    position:absolute;
    top:80%;
    right:-50px;
    transition:all 0.4s linear 0.1s;
}



/*中间文字简介*/
div.h_floor6>.content>.txt_mid{
    width: 300px;
    height: 440px;
    border-top: #000000 solid 1px;
    margin-top:220px;
    font-size:14px;
    line-height:30px;
    transition:all 0.4s linear 0.1s;
    opacity:0.7;
	color:#000;
}


/*右侧小图片*/
div.h_floor6>.content>.pic_rig{
    width: 200px;
    height: 420px;
    border-top: #000000 solid 1px;
    margin-top:-20px;
    position:relative;
    transition:all 0.4s linear 0.1s;
    opacity:0.5;
}
div.h_floor6>.content>.pic_rig div:nth-child(1){
    width: 200px;
    height: 100px;
    position:absolute;
    top:0px;
    right:0px;
    margin-bottom:50px;
}
div.h_floor6>.content>.pic_rig div:nth-child(2){
    width: 200px;
    height: 100px;
    border-top: #000000 solid 1px;
    position:absolute;
    top:140px;
    right:0px;
    transition:all 0.3s linear 0.2s;

}
div.h_floor6>.content>.pic_rig img{
    padding-top:35px;
}