	/*楼层四样式*/
.cno_four{
	width:100%;
	height:100%;
	border:1px solid red;
/*	position:relative;*/
	background-color:#000;
    overflow:hidden;
}
.cno_four>.gg{
position:absolute;
top:109px;left:-280px;
color: #fff;
font-size: 28px;
transition:all .8s ease-out; 
width:100px;
height:40px;
}
.cno_four>.jj{
	position:absolute;
top:131px;left:512px;
transition:all .8s ease-out;
}	 
/*4个方块*/
.cno_four>.fk{
position:absolute;
top:300px;left:180px;
}
.cno_four>ul>li{
	float:left;
	width:245px;
	height:380px;
	margin-left: 20px;
 	position:relative; 
 	margin-top: 0px; 
/*    transform:translateY(-450px);*/
    transform:rotateY(45deg);
    transition: all .9s linear;
     overflow:hidden;
}

/*设置统一样式*/
.fk .one{
	width:100%;
	height:100%;
	background-color: #fff;
	text-align: center;
	margin:0 auto;
	position:absolute;
    top:-30px;left:0;
	transition:all .4s ease-out;
	z-index:10; 
	 
	
}
.fk .one img{
   width:100%;
   height:100%;
  	
}
/*隐藏部分*/
.fk .two{
 	width:290px; 
    height:100%;
	background-color: #fff;
	text-align: center;
	position:absolute;
    top:500px;left:0px;
	transition:all .9s ease-out;
	font-size:30px;
    color: #000;
	opacity:0;
	margin:0 auto;
    box-sizing: border-box;
	 
}
.fk .two p{
    width: 100%;
	color: #000;
	font-size: 18px;
    margin-left: -22px;
    margin-top: 200px;
	transition:all 1.5s linear;
	 
}
.fk .two a{
 display:block;
 width:70px;
 height:40px;
 background-color: #87A8D8;
font-size: 17px;
 line-height:40px;
 border-radius: 2px;
position: absolute;
	bottom: 50px;
	left:92px;
	color:#fff;
}
.fk .two a:hover{
	background:#0F438E;
	transition: all .4s linear;
	color:#fff;
}