/*<!--最上面的title-->*/
.bg_hidden{
    width:100%;
    background:url(../img/index/img100.png);
    z-index: 0;
	height:100%;
}

/*<!--楼层一的主题banner部分-->*/
#section0 .f1_banner{
    position:absolute;
    left:0;
    top:100px;
    z-index: 20;
    width: 100%;
    height:513px;
}
/*楼层一的标题动画效果*/
@keyframes down{
    100%{
        transform:translate3D(0,250px,0) rotate3D(1,1,1,720deg);
        opacity:1;
    }
}
@keyframes down2{
    100%{
        transform:rotate3D(1,0,0,-120deg);
        opacity:1;
    }
}
 /*<!--楼层一上面的图片切换-->*/
#section0 .f1_banner .slide-wrap{
    position: absolute;
    height: 500px;
    width: 500px;
    top:100px;
    left:34%;
    z-index: 5;
}
#section0 .f1_banner .slide-wrap li{
    height: 500px;
    text-align: center;
    position: absolute;
    top:-100px;
    left:200px;
    opacity: 0;
    transition: all 0.3s ease-out;
}
/*每个li的left微调*/
#section0 .f1_banner .slide-wrap .slide-item1{
    left:-38px;
    top:-50px
}
#section0 .f1_banner .slide-wrap .slide-item1 p{
    font-size: 20px;
    color: #fff;
}
#section0 .f1_banner .slide-wrap .slide-item2{
    left:10px;
}
#section0 .f1_banner .slide-wrap .slide-item3{
    left:10px;
    top:-110px;
}
/* 楼层二样式*/

.lfloor{
		color:#fff;
		width:100%;
		height:100%;
		transition:all 1s linear;
		overflow:hidden;
		background: url(../img/index/bg333.jpg) 100% 100% no-repeat;
		background-size: cover;
	}

.lmain{
 width:20%;
 height:100%;
 position:relative;
 float:left;
 overflow:hidden;
 z-index: 5;
 transition:all .5s linear;
}

.logobox{width:107px;
         height:107px;
		 border-radius:50%;
		 overflow:hidden;
		 position:absolute;
		 left:35%;
		 top:260px;
		 z-index:5;
		 box-sizing:border-box;
		 border:1px solid #fff;
         } 
.logobox img{ position:absolute;left:-2px;top:-2px;}
.logobox img.active{top:-110px;transition:0.3s;}
.ltitle{
        left:-5%;
        top:388px;
        position:absolute;
		z-index:5;
        }
.llogolist{
       list-style:none;
	   margin-left:90px;
	   top:440px;
	   position:absolute;
	   height:70px;
	   z-index:5;
}
.llogolist>li{
   float:left;   
   margin-left:15px;
   padding-left:20px;
   border-left:1px solid #fff;
   height:20px;
}

.lmain .text{top:490px; position:absolute;font-size:12px;box-sizing:border-box;padding:12px;z-index:5;text-align:justify;}
.llogolist>li:first-child{ border-left:none;margin-left:-15px;}
.lmain>.lback{transition:0.4s;z-index:0;position:absolute;top:100%;height:100%;width:100%;}
.lmain>.lback.active{top:0;}
.lmain>.lback01{background:#0163A5;}
.lback02{background:#ADD246; }
.lback03{background:#04AFA6; }
.lback04{background:#F8C200;}
.limagebox{position:absolute;bottom:-200px;z-index:3;width:100%;height:170px;}
.limagebox.active{bottom:0px;transition:0.7s;}
.limagebox img{
	width:100%;height:100%;margin:0;
}
.lmain h3{text-align:center;width:50%;}

.lmain01{left:-900px;}
.lmain02{left:-100px;}
.lmain03{left:450px;}
.lmain04{left:900px;}

.lmain01.active{left:100px;margin-right:31px;}
.lmain02.active{left:100px;margin-right:31px;}
.lmain03.active{left:100px;margin-right:31px;}
.lmain04.active{left:100px;margin-right:31px;}