*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;text-decoration:none;}
#page-wrap{width:91%;margin:25px auto;} 
#page-wrap li{text-align:center; font-size:15px;}
/* 一级 */
ul.dropdown{position:relative;width:100%;}

ul.dropdown li{float:left;width:25%;background:#F2F2F2;position:relative;border-radius:5px;}
ul.dropdown a:hover{color:#000;}
ul.dropdown li a{display:block;padding:20px 8px;color:#222;position:relative;z-index:5;}
ul.dropdown li a:hover,
ul.dropdown li a.hover{background:#EEEEEE;position:relative;}
/* 二级 */
ul.dropdown ul{display:none;position:absolute;top:0;left:0;width:100%;z-index:30;}
ul.dropdown ul li{font-weight:normal;background:#f6f6f6;color:#000;border-bottom:1px solid #ccc; width:100% !important;}
ul.dropdown ul li a{display:block;background:#eee !important;} 
ul.dropdown ul li a:hover{display:block;background:#E0F7F5 !important;} 
